body {
  background-color: white;
  background-image: none;
  color: #000000;
}
table.main {
  background-color: white;
}
table.form {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border: 10px solid;
  border-spacing: 0px;
  border-color: #E0E0E0 #707070 #606060 #D0D0D0;
  background-color: white;
}
table.form td {
  border-color: #D0D0D0;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  padding: 2px 5px 2px 5px;
  font-family: Arial, sans-serif;
  text-align: left;
}
table.form td.no_bottom_border {
  border-bottom-width: 0px;
}
table.form td.no_top_border {
  border-top-width: 0px;
}
table.form td#result {
  text-align: center;
}
table.result {
  border-collapse: separate;
  border: 2px solid #000000;
  border-spacing: 0px;
  margin: 5px auto 5px auto;
}
table.result th, table.result td {
  border-color: #D0D0D0;
  border-style: solid;
  border-width: 1px;
  padding: 2px 5px 2px 5px;
  font-family: Arial, sans-serif;
  text-align: left;
}
table.result th {
  font-weight: bold;
  background-color: #F0F0F0;
}
table.navigate {
  background-color: white;
}
a.link {
  background-color: #E0E0FF;
  color: #0000FF;
  border: 1px solid #0000FF;
  text-decoration: none;
  margin: 1px 3px;
  padding: 0px 2px;
}
.note {
  font-size: 70%;
  color: #808080;
}
