body {
  text-align: center;
  background-color: black;
  background-image: url("balls.gif")/*tpa=http://thephuong.free.fr/lte/balls.gif*/;
  color: #D0D0D0;
}
a:link {
  color: #0080B0;
}
a:visited {
  color: #0080B0;
}
a:active {
  color: #0080B0;
}
a:hover {
  color: #00B8FF;
}
table.main {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border: 10px solid;
  border-spacing: 0px;
  border-color: #E0E0E0 #707070 #606060 #D0D0D0;
  background-color: black;
}
table.main th, table.main td {
  border: 1px solid #D0D0D0;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
table.main th {
  font: bold 100% Arial, sans-serif;
}
table.navigate {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border: 5px solid;
  border-spacing: 0px;
  border-color: #E0E0E0 #707070 #606060 #D0D0D0;
  background-color: black;
}
table.navigate td {
  border: 1px solid #D0D0D0;
  padding: 5px;
  text-align: center;
}
table.plain {
  border-collapse: separate;
  border: 0px;
  text-align: left;
}
table.plain td {
  border: 0px;
  padding: 5px;
}
.page_title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.page_subtitle {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
h1,h2,h3,b,th {
  font-family: Arial, sans-serif;
}
ul {
  list-style: circle inside;
  margin: 0px;
  padding: 0px;
}